html,body
{
    height: 100%; 
    width: 100%;
}
body
{
    background: #eee; 
}

.text
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*****************
HEADER
******************/
.header
{
    background: rgb(8, 8, 8);
}
.logo
{
    color: #fff; 
    float: left; 
    padding: 15px; 
    display: block; 
    text-decoration:none
}

.headerMenu
{
    float: right; 
    margin: 0; 
    padding: 0;
}

.menuItem
{
    display: inline-block;
}

.menuItem a
{
    color: #fff; 
    padding: 15px; 
    display: block; 
    text-decoration:none
}

.menuItem a:hover
{
    background: rgb(93, 241, 180);
}

.headerIcon
{
    display: block; 
    float: right; 
    padding: 15px; 
    display: none;
}

.headerIcon span
{
    display: block; 
    height: 3px; 
    width: 30px; 
    background: #fff; 
    margin-bottom: 5px;
}

h2
{
    text-align: center;
    color: Red;
}

/*****************
COVER
******************/
.cover
{
    height: 30%; 
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-bottom: 1%;
}
.coverFilter
{
    background: rgb(66, 62, 62);
    width: 100%;
    height: 100%;
    position: absolute;
}
.coverText
{
    display: table;
    height: 100%; 
    width: 100%;
    position: relative;
    z-index: 1;
}
.coverCopy
{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #fff;
}


/*****************
SMARTPHONE
******************/
@media (max-width: 768px)
{

/*HEADER*/
.header
{
    position: fixed; 
    z-index: 100;
    width: 100%;
    }

.headerMenu
{
    width: 100%; 
    height: 0px; 
    overflow: hidden;
}

.menuItem
{
    display: block;
}

.headerIcon
{
    display: block; 
    margin-right: 10px;
}

.is-open
{
    height: 300px;
    overflow: auto; 
    text-align: center; /*se abbiamo tanti elementi all'interno del menu esso scrolla.*/
}

/*COVER*/
.cover{height: 100%;}

/*CARD*/
.card{width: 90%; margin:5%;}
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  * html .clearfix             { zoom: 1; } /* IE6 */
  *:first-child+html .clearfix { zoom: 1; } /* IE7 */
